<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link rel="stylesheet" href="~/Content/DataTables/css/dataTables.jqueryui.min.css">
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/DataTables/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/DataTables/css/responsive.dataTables.min.css">
    <link rel="stylesheet" href="~/Content/DataTables/css/dataTables.bootstrap4.css">
    <script src="~/Scripts/jquery-3.7.1.js"></script>
    @*<script src="~/Scripts/bootstrap.min.js"></script>*@
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/DataTables/dataTables.responsive.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>


    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
        <div class="container">
            @Html.ActionLink(".Net MVC Homework", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li>@Html.ActionLink("客戶資料管理", "Index", "ClientData", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("客戶聯絡人管理", "Index", "ClientContacts", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("客戶銀行帳戶管理", "Index", "ClientBankData", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("客戶資料統計", "ClientView", "ClientData", new { area = "" }, new { @class = "nav-link" })</li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/bootstrap-select")
    @RenderSection("scripts", required: false)
</body>
</html>
<link rel="stylesheet" href="~/Content/bootstrap-select.min.css">
<script src="~/Scripts/bootstrap-select.min.js"></script>
<script src="~/Scripts/i18n/defaults-en_US.min.js"></script>




